@import url('https://fonts.googleapis.com/css2?family=Carter+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,300&display=swap');



section{
    min-height: 100vh;
}
.navbar-brand, .navbar-nav, .btn, footer h2 {
    font-family: 'Carter One', cursive;
    
    
}

h3{
    text-transform: uppercase;
    text-decoration: underline;
    font-family: 'Carter One', cursive;
}
.bg{
    background-image: url('images/dede1.jpg');
    height: 100vh;
    width: 100vw;
}
p{
    font-family: 'Merriweather', serif;
}
.navbar-toggler-icon {
    color: white;
}
    
.bg { 
 
  background-repeat: repeat;
  background-size: cover;
  position: relative;
}
.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}
.hero-text h1{
    text-decoration: underline;
    font-size: 70px;
    font-weight: bolder;
    font-family: 'Carter One', cursive;
}
.hero-text p{
    text-decoration: underline;
    font-size: 40px;
    font-family: 'Carter One', cursive;
}
#about h1{
    font-family: 'Carter One', cursive;
}


#pic {
    animation: changeBg  90s infinite ease-in-out ;
    width: 600px;
    height: 400px;
    background-size: cover;
    margin-left: 40px;
    

   
}

@keyframes changeBg{
    0%,100%  {background-image: url("images/dede1.jpg") ;}
    25% {background-image: url("images/dede8.jpg");}
    35% {background-image: url("images/dede2.jpg");}
    50% {background-image: url("images/dede5.jpg");}
    75% {background-image: url("images/dede6.jpg");}
    85% {background-image: url("images/dede4.jpg");}
}
#contact h2{
    font-family: 'Carter One', cursive;
    text-decoration: underline;
}
